---
layout: default
title: Community Blog
body_class: page list-page list-page-blog
---

<div class="container featured-content">
    <div class="row mt-6 mb-6">
        <div class="row-content col-12">
            <div class="card-deck">
                {% assign posts = site.posts %}
                    {% if posts.length == 0 %}
                        <div class="text-center p-5 font-weight-bold lead">
                            No Published Posts Yet.
                        </div>

                    {% else %}
                        {% for post in posts %}
                        <div class="col-12 col-md-6">
                            <div class="card-blog card card-m">
                                <a class="cursor-pointer" href="{{post.url}}">
                                    <div class="card-media">
                                        {% if post.blurb_img %}
                                            <img src="{{post.blurb_img}}" alt="header image for {{post.title}}">
                                        {% else %}
                                            <img src="/assets/images/blog/default.jpg" alt="header image for {{post.title}}">
                                        {% endif %}
                                    </div>

                                    <div class="card-body">
                                        <h2 class="card-title">{{post.title}}</h2>
                                        <p>{{post.description}}</p>
                                        <div class="card-author d-flex align-items-center">
                                            <div class="card-author-image">
                                                <img src="/assets/images/blog/author.png" alt="Author picture">
                                            </div>
                                            <div class="d-flex flex-column">
                                                <div class="card-author-name">{{post.author}}</div>
                                                <div class="card-date">{{ post.date | date: "%d.%m.%Y" }}</div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
        </div>
    </div>
</div>
