---
layout: default
title: Online and In-Person Events
body_class: page list-page list-page-events

---

<div class="container">
    <div class="row">
        <div class="content-constrained">
            <section>
                <p>Women Coding Community events and meetups present great opportunities to improve your skill set, deepen your understanding of various topics, expand your professional network, and engage in meaningful social interactions.</p>
                <p>Our community hosts various engaging events, including webinars, hands-on technical workshops, study groups, panel discussions and keynotes featuring industrial experts and tech professionals. Whether online or in-person, these gatherings provide an invaluable opportunity to share both professional insights and personal experiences with fellow members. Through collaborative learning and networking, participants can broaden their horizons, stay abreast of the latest trends, and exchange knowledge within the community.</p>
                <p>Join us on Slack in <a href="https://womencodingcommunity.slack.com/archives/C0700RUUTJR" target="_blank">#Events</a> channel to stay up to date with the upcoming events.</p>
            </section>
        </div>
    </div>
</div>
<div class="container list-events">
    <section class="row col-12">
        <div class="row-header col-12">
            <h2>Events</h2>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active">Upcoming Events</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link disabled">Past Events</a>
                </li>
            </ul>
        </div>
        <div class="row-content col-12">
            <div class="card-deck">
                {% assign count = 0 %}
                {% for events in site.data.events %}
                    {% assign count = count | plus: 1 %}
                    {% if count <= 2 %}
                        <div class="card-column col-12 col-lg-6">
                            <article class="card-announcement event card card-m {{events.category}}">
                                <div class="card-header">
                                    <div class="col-12 col-sm-9 col-lg-8">
                                        <div class="card-category">{{ events.category_name }}</div>
                                        <div class="card-date"><div class="material-symbols-outlined" aria-hidden="true">
                                            <span class="material-symbols-outlined">calendar_month</span></div>{{ events.date }}, {{ events.time }}</div>
                                        <h3 class="card-title">{{ events.title }}</h3>
                                        {% if events.host %}
                                        <p class="card-host">Host: {{ events.host }}</p>
                                        {% endif %}
                                        {% if events.speaker %}
                                        <p class="card-speaker">Speaker: {{ events.speaker }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="card-media col-12 col-sm-3 col-lg-4">
                                        <img src="{{ events.image.path }}" alt="{{ events.image.alt }}">
                                    </div>
                                </div>
                                <div class="card-body col-12">
                                    <p>{{ events.description }}</p> 
                                </div>
                                <div class="card-footer col-12">
                                    <a href="{{ events.link.path }}" target="{{ events.link.target }}" class="btn btn-outline-primary">{{events.link.title }}</a>
                                </div>
                            </article>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
</div>
