---
layout: default
title: Partners
body_class: page page-partners
---

<div class="container mission bg-0">
    <section>
        <div class="row">
            <div class="col-12 col-md-7 col-xl-8 hero-media">
                <h2>Why Partner with Us?</h2>
                <ul>
                    <li>Align with our mission to break barriers and advocate for gender equality in tech.</li>
                    <li>Engage in sponsorships, event collaborations, mentorship program, and other programms.</li>
                    <li>Connect with and mentor talented women in tech.</li>
                    <li>Support initiatives that advocate for women’s rights, education, and professional
                        development in
                        technology.
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-5 col-xl-4">
                <h2>Contact Us</h2>
                <p> Become WCC Partner contacting us <a href="mailto:london@womencodingcommunity.com">
                    by email</a> or contact one of our <a href="/team" target="_parent">directors</a> in our <a
                        href="{{site.network.slack}}"> Slack community </a>
                </p>
            </div>
        </div>
    </section>
</div>

{% assign partners = site.data.partners %}

{% for partner in partners %}
  {% if partner.page_show %}
    {% assign is_even = forloop.index0 | modulo: 2 %}
    <div class="container mission {% if is_even == 0 %}bg-1{% endif %} partners">
      <div class="row featured-content pt-5 {% if is_even == 0 %}flex-row-reverse{% endif %} align-items-center" id="{{partner.name}}">
        <div class="col-12 col-md-5 col-xl-4">
          <img class="partner-img"
               src="{{partner.image.path}}"
               alt="{{partner.image.alt}}"
               width="250"
               loading="eager">
        </div>
        <div class="row-description col-12 col-md-7 col-xl-8">
          {{partner.description}}
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
