---
layout: default
title: Interview Preparation
---

<div class="page-header">
    <h1>Interview Preparation</h1>
</div>
<div class="container">
    <div class="content-constrained">
        <div class="section">
            <h2>CV Clinic</h2>
            <p>Are you ready to take your CV to the next level? Join us for an exciting opportunity to elevate your professional profile with our CV Clinic! 🚀</p>
            <p>At the Women Coding Community, we believe in the power of collaboration and support. That's why we're thrilled to offer our members a unique chance to receive personalized feedback and guidance on their CVs from their peers.</p> 
            <p>Our CV Clinic is designed to provide you with valuable insights, expert tips, and constructive feedback to help you craft a standout CV that showcases your true potential.</p>
            <div class="faq my-4">
                <section id="accordion">
                    <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-1" aria-expanded="false" data-toggle="collapse" href="#faq-1" role="button">
                        <div class="position-relative d-flex align-items-left">
                            <h2 class="h4 m-0 pr-3">How it works</h2>
                            <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                                {% include icons/plus.svg %}
                            </div>
                        </div>
                    </a>
                    <div class="collapse" id="interview-1">
                        <div class="card card-body border-0 p-0">
                            <p>Participating in our Peer CV Clinic is easy and fun!</p> 
                            <p>Simply join our <a href="https://womencodingcommunity.slack.com/archives/C0703P2RUTV" target="_blank">Slack channel #cv-clinic</a> and submit your CV (PDF or Google Spreadsheet), alongside a brief description of the role you’re applying for.</p>
                            <p>Our fellow members review each other's CVs, exchange feedback, and brainstorm ideas for improvement.</p>
                            <p>Whether you're a seasoned professional or just starting out in your career, our CV Clinic is the perfect chance to refine your CV and take your CV to the next level.</p>
                        </div>
                    </div>
                </section>
                <section id="accordion">
                    <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="interview-2" aria-expanded="false" data-toggle="collapse" href="#interview-2" role="button">
                        <div class="position-relative d-flex align-items-left">
                            <h2 class="h4 m-0 pr-3">Benefits of joining</h2>
                            <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                                {% include icons/plus.svg %}
                            </div>
                        </div>
                    </a>
                    <div class="collapse" id="faq-2">
                        <div class="card card-body border-0 p-0">
                            <ul>
                                <li><u>Expert Feedback:</u> Receive personalized feedback and tips from peers who understand the nuances of your industry and role.</li>
                                <li><u>New Strategies:</u> Sharpen your resume-writing skills and learn new techniques to make your resume stand out to potential employers.</li>
                                <li><u>Confidence Boost:</u> Gain confidence in your professional profile and feel empowered to take the next step in your career journey.</li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
            <p class="font-weight-bold">Ready to Elevate Your CV?</p>
            <p>Don't miss out on this exciting opportunity to take your resume to new heights! 🌟</p>
            <p><a href="https://womencodingcommunity.slack.com/archives/C0703P2RUTV" target="_blank">Join us in our #cv-clinic Slack channel</a></p>      
        </div>

        <div class="section">
            <h2>Leetcode Program</h2>
            <p>Ready to supercharge your problem-solving skills and master algorithms and data structures?</p>
            <p>Join our LeetCode community group and elevate your coding skills to new heights with collaborative support and expert guidance!</p> 
            <p>We offer a structured environment to learn, practice your coding skills and discuss strategies to tackle problems.</p>
            <div class="faq my-4">
                <section id="accordion">
                    <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-3" aria-expanded="false" data-toggle="collapse" href="#faq-3" role="button">
                        <div class="position-relative d-flex align-items-left">
                            <h2 class="h4 m-0 pr-3">Benefits of joining</h2>
                            <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                                {% include icons/plus.svg %}
                            </div>
                        </div>
                    </a>
                    <div class="collapse" id="faq-3">
                        <div class="card card-body border-0 p-0">
                            <ul>
                                <li>Collaborative learning</li>
                                <li>Accountability and motivation</li>
                                <li>Gain confidence</li>
                                <li>Different prespectives</li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
            <p><a href="" target="_blank">Join us in our Leetcode Slack channel</a></p>         
        </div>

        <div class="section">
            <h2>Mock Interviews Program</h2>
            <p>Struggling to prepare for interviews? Feeling uncertain or lacking confidence? Whether you're new to interviews or a seasoned pro, we've got you covered!</p>
            <p>At Women Coding Communities, we understand the importance of practice in mastering interviews. That's why we're excited to introduce our latest project: "Mock Interviews." This initiative is designed to provide you with the practice and support you need to excel in real interview scenarios.</p>
            <p>Through mock interviews, you'll have the opportunity to refine your responses, develop effective strategies, and boost your confidence. Our goal is to help you feel more prepared and comfortable when facing the pressures of a real interview.</p>
            <p>We suggest two distinct formats: behavioral and technical interviews. Whether you're looking to polish your soft skills or fine-tune your technical knowledge, we have tailored mock interviews to suit your needs.</p>
            <p><a href="https://womencodingcommunity.slack.com/archives/C06VDMVGTDL" target="_blank">Join us on Slack in the #proj-mock-interviews</a> channel to indicate your interest and connect with others seeking practice. Pair up with fellow members and start honing your interview skills today!</p>
        </div>
    </div>
</div>
