.article-blog {
  &-content {
    padding-bottom: map-get($spacers, 6);
  }

  .page-header {
    background: transparent;
    color: $text-primary;
    padding-bottom: map-get($spacers, 3);

    h1 {
      margin-bottom: map-get($spacers, 5);
    }

    .author-container {
      background-color: $bg-1;
      border-radius: $border-radius;
    }

    @include media-breakpoint-up(md) {
      .author-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  .article-date {
    font-size: $font-title-s;
    color: $text-secondary;
    margin-bottom: map-get($spacers, 2);
  }

  .article-header-img {
    width: 100%;
    height: 400px;
    margin-bottom: map-get($spacers, 4);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  @include media-breakpoint-down(md) {
    .article-header-img {
      height: 250px;
    }
  }

  .article-media {
    margin: map-get($spacers, 4) 0;
  }

  .author {
    display: flex;
    text-align: left;
    flex-direction: row;
    font-size: $font-title-s;

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .author-media {
    margin-right: 0.5rem;
    padding-top: 0.25rem;
  }

  a {
    font-weight: 600;
    text-decoration: underline;
    font-size: 18px;
  }

  .section-header {
    margin-top: map-get($spacers, 3);
    font-size: $h4-font-size;
  }

  .p-quote {
    font-style: italic;
    font-weight: 700;
  }

  blockquote {
    padding: map-get($spacers, 3) 0;
    color: $primary;
    font-style: italic;

    p {
      font-size: $font-headline-s;

      &:before {
        content: '"'
      }

      &:after {
        content: '"'
      }
    }
  }

  .blockquote-footer {
    font-size: $font-title-m;
  }

  .footnotes {
    width: 100%;
    margin-top: map-get($spacers, 5);
    border-top: 2px solid $black;
    font-size: $font-body-s;

    ul {
      padding-left: map-get($spacers, 3);
    }
    
    li {
      margin-bottom: map-get($spacers, 3);
    }

    a {
      text-decoration: none;
      color: $primary;
    }

    a:hover {
      text-decoration: underline;
      font-weight: 700;
    }
  }

  .share-article {
    margin-top: 10px;

    span {
      color: $text-secondary;
      font-size: $font-body-s;
    }

    a {
      text-decoration: none;
      color: $text-secondary;
      font-weight: normal;
      padding: 0.5rem 1rem;
    }

    .share-icon {
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .main-icon {
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem;
      background-color: $primary;
      color: $white;
      padding: 6px;

      svg {
        object-fit: contain;
      }
    }

    .dropdown-item:active {
      background-color: transparent;
    }
  }

  @include media-breakpoint-up(md) {
    .share-article {
      margin-top: 0;
    }
  }
}
