.article-blog {
  &-content {
    padding-bottom: map-get($spacers, 6);
  }

  .page-header {
    background: transparent;
    color: $text-primary;
    padding-bottom: map-get($spacers, 3);

    h1 {
      margin-bottom: map-get($spacers, 5);
    }
  }

  .article-date {
    font-size: $font-title-s;
    color: $text-secondary;
  }

  .article-media {
    margin: map-get($spacers, 4) 0;
  }

  .author {
    display: flex;
    text-align: left;
    flex-direction: row;
    font-size: $font-title-s;
  }

  .author-media {
    margin-right: 0.5rem;
    padding-top: 0.25rem;
  }

  a {
    font-weight: 600;
    text-decoration: underline;
    font-size: 18px;
  }

  .section-header {
    margin-top: map-get($spacers, 3);
    font-size: $h4-font-size;
  }

  .p-quote {
    font-style: italic;
    font-weight: 700;
  }

  blockquote {
    padding: map-get($spacers, 3) 0;
    color: $primary;
    font-style: italic;

    p {
      font-size: $font-headline-s;

      &:before {
        content: '"'
      }

      &:after {
        content: '"'
      }
    }
  }

  .blockquote-footer {
    font-size: $font-title-m;
  }

  .footnotes {
    width: 100%;
    margin-top: map-get($spacers, 5);
    border-top: 2px solid $black;
    font-size: $font-body-s;

    ul {
      padding-left: map-get($spacers, 3);
    }
    
    li {
      margin-bottom: map-get($spacers, 3);
    }

    a {
      text-decoration: none;
      color: $primary;
    }

    a:hover {
      text-decoration: underline;
      font-weight: 700;
    }
  }
}
