.btn {
    text-decoration: none;
    font-size: $font-size-md;
    padding: 0 2rem;
    line-height: 2.5;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 2rem;
}

.btn-primary {
    border: none;
}
