.btn {
    text-decoration: none;
    font-size: $font-size-md;
    padding: 0 2rem;
    line-height: 2.5;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 2rem;
}

.btn-primary {
    border: none;
}
    
.btn-show-more {
    position: relative;
    padding-left: 3rem;

    &::before {
        content: "+";
        font-family: 'Material Icons';
        position: absolute;
        left: 1.5rem;
        top: 48%;
        transform: translateY(-50%);
        font-size: $icon-size-s;
    }
}
