
footer {
    background-color: $primary-30;
    color: $white;

    .logo {
        margin-right: 1.4rem;
        display: inline-block;
        img {
            width: 60px;
        }
    }

    .social {
        padding: 1.4rem 0 1.5rem 0;
    }

    .copyright {
        text-align: center;
        border-top: 1px solid $primary-20;
        margin: 0 0.5rem;
        padding-top: 1rem;
        padding-bottom: 1.1rem;
    }

    p,
    h5 {
        margin: 0;
    }

    .network {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        a {
            border-radius: 100%;
            padding-right: 10px;

            svg, svg:hover {
                height: 30px;
                width: 30px;
                fill: $white !important;

                @include media-breakpoint-down(md) {  
                    height: 20px;
                    width: 20px;
                }
            }

            svg:hover {
                fill: $gray-200 !important;
            }
        }
        span:first-child {
            margin-left: 0.7rem;
        }
    }
 }
