
.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $teal;
    padding-top: 40px;
    text-align: left;
    color: $white;
    min-height: 200px;

    .brand {
        width: 120px;
    }

    p {
        margin: 0;
    }

    .row {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .copyright {
        margin-top: 50px;
    }

    .network {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;

        a {
            border-radius: 100%;
            padding-right: 10px;

            svg, svg:hover {
                height: 30px;
                width: 30px;
                fill: $white !important;

                @include media-breakpoint-down(md) {  
                    height: 20px;
                    width: 20px;
                }
            }

            svg:hover {
                fill: $gray-200 !important;
            }
        }
    }
 }
