.home {

    .row {
        &.featured-content {
            padding-top: map-get($spacers, 6);
            padding-bottom: map-get($spacers, 6);
            justify-content: center;
        }
    }

    .row-content {
        display: flex;
        flex-direction: column;
    }

    .row-header {
        h2 {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .row-description {
        margin-bottom: map-get($spacers, 4);
    }

    .announcements {
        .card-deck {
            margin-right: auto;
            margin-left: auto;
            flex-direction: column;
        }
    }    

    .mission {
        .row-content {
            flex-direction: column;
            text-align: center;
        }
    }

    .programmes {
        p {
            @include font-body;
            text-align: center;
        }

        .row-content {
            flex-direction: column;
            align-items: center;
            height: 100%;
        }
    }
}

@include media-breakpoint-up(lg) {
    .home {
        .announcements {
            .card-deck {
                flex-direction: row;
            }
        }
    }
}
