.banner {
    @include media-breakpoint-down(lg) {  
        background-size: auto 100%;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: $white;
    min-height: 300px;
    background-image: url("./../../assets/images/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;

    h1 {
        @extend .display-2;
        margin: 0 !important;
    }

    h3 {
        margin: 0 !important;
        font-weight: normal;
    }

}

.home {

    .card {
        margin-top: 10px;
    }

    .overview {
        @extend .row;
        @extend .h4;
        @extend .my-7;

        padding: 0 30px 0 30px;
        text-align: center;
        font-weight: normal;
        line-height: 1.5;   
    }

    .registration {
        @extend .justify-content-around;
        @extend .my-7;

        ul {
            list-style: none;
        }

        li {
            margin-left: -37px;
        }

        span {
            font-weight: $font-weight-bold !important;
            font-size: larger;
        }

        .mentor {
            @include media-breakpoint-down(sm) {
                margin-bottom: 3em;
            }
        }
    }

    .card-header {
        background-color: transparent;
        border: none;
    }

    .card-body {
        display: flex;
        height: 100%;
        flex-direction: column;
        text-align: center;
        p {
            margin-bottom: 30px;
        }
    }

    .support {
        @extend .my-7;
    }

    .timeline {
        @extend .my-7;
        
        .row {
            @extend .justify-content-around;
            position: relative;

            @include media-breakpoint-up(lg) {    
                &::after {
                    position: absolute;
                    content: "";
                    background-color: $teal;
                    top: 50px;
                    left: 163px;
                    height: 4px;
                    width: 72%;
                    display: inline-block;
                    z-index: -1;
                }
            }
        }

        .circle {
            margin: auto;
            height: 58px;
            width: 58px;
            border-radius: 50%;
            border: 4px solid $teal;  
            display: flex;
            background-color: $white;
            
            .icon {
                &.check {
                    height: 50px;
                    width: 50px;
                }

                &.heart {
                    margin-top: 12px;
                    height: 30px;
                    width: 30px;
                }

                &.start {
                    height: 30px;
                    width: 30px;
                }
            }
        }

        .card-wrapper {
            background-color: transparent;
        }

        .card-transparency {
            background-color: transparent;
        }

        .photo {
             width: 800px;
         }

         .bi-bell {
            width: 86% !important;
            padding-left: 7px;
         }
     }
     
     .feedback {
        @extend .my-7;

        .carousel-indicators li {
             background-color: $teal;
        }

        .carousel-control-prev-icon {
             background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
        }
     
        .carousel-control-next-icon {
             background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
        }
     }
}