.home {

    .row {

        &.featured-content {
            padding-top: map-get($spacers, 6);
            padding-bottom: map-get($spacers, 6);
            justify-content: center;
        }

        .card-deck {
            > * {
                margin-bottom: 1rem;
            }
        }
        
        &.mentors-cta {
            h2 {
                font-size: $h2-font-size;
            }
            .btn {
                max-width: fit-content;
            }
            .card-body {
                align-items: center;
            }
        }
    }

    .row-content {
        display: flex;
        flex-direction: column;
    }

    .programmes {
        p {
            @include font-body;
            text-align: center;
        }
    }

    .mission {
        .row-content {
            flex-direction: column;
            text-align: center;
        }

        .card {
            background-color: transparent;
            border: none;
        }
    }

    .programmes {
        .row-content {
            flex-direction: column;
            align-items: center;
            height: 100%;
        }
    }

    .support {
        text-align: center;
    }
}
