.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: map-get($spacers, 6) 0;
    color: $white;
    min-height: 25vh; 

    .overlay-image {
        background-image: url("./../../assets/images/banner.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 25%;
        opacity: 0.8;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .overlay-dark {
        background-color: $primary-10;
        opacity: 0.8;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .banner-content {
        position: relative;
        z-index: 2; // Makes sure text content stays above overlay 

        h1 {
            font-size: $display4-size;
        }

        p {
            font-size: $h2-font-size;
            line-height: 1.3;
        }

        hr {
            margin: map-get($spacers, 4) auto;
            height: 8px;
            width: 5%;
            background-color: $primary-90;
        }
    }

    h1, h2 {
        margin: 0;
        font-weight: 400;
    }
}

.home {

    .row {
        h2 {
            margin: 1rem auto;
        }
    }


    .programs article {
        margin: 1rem .25rem;
    }

    .programs article a {
        display: block;
        padding: 1.5rem 1rem;
        background: #fff;
        border-radius: 12px;

        &:hover {
            background-color: $primary-80;
            color: $primary-10;
            text-decoration: none;
        }

        .material-symbols-outlined {
            color: $black;
        }
    }
}
