.home {

    .page-header {
        display: none;
    }

    .row {
        &.featured-content {
            padding-top: map-get($spacers, 6);
            padding-bottom: map-get($spacers, 6);
            justify-content: center;
        }
    }

    .row-content {
        display: flex;
        flex-direction: column;
    }

    .row-header {
        h2 {
            @include font-display-l;
            margin-top: 0;
            margin-bottom: map-get($spacers, 5);
        }
    }

    .row-description {
        margin-bottom: map-get($spacers, 4);
    }

    .announcements {
        .card-deck {
            flex-direction: column;
        }
    }   
    
    .event {
        &.category-book-club, &.category-writing-club {
            border: none;
            background: $tertiary-90;
            color: $primary-30;
        }
    
        &.category-tech-talk, &.category-career-talk {
            border: none;
            background: $primary;
            color: $white;

            a {
                color: $white;
                border-color: $white;
                &:hover {
                    background: $white;
                    color: $primary;
                }
            }
        }
    }    

    .mission {
        .row-content {
            flex-direction: column;
            text-align: center;
        }
    }

    .programmes {
        p {
            @include font-body;
            text-align: center;
        }

        .row-content {
            flex-direction: column;
            align-items: center;
            height: 100%;
        }
    }
}

@include media-breakpoint-up(md) {
    .home {
        .announcements {
            .card-deck {
                flex-direction: row;
            }
        }
    }
}
