.card-header {
    .icon {
        display: block;
        margin: auto;
        height: 100px;
        width: 100px;
    }
    .icon--s {
        height: 50px;
        width: 50px;
    }
    svg {
        width: 100%;
        height: 100%;
    }
}