
.mentors {
    @extend .my-7;

    .card-img {
        border-radius: 50%;
        padding: 20px;
    }

    .col-md-3 {
        display: grid;
        justify-content: center;
        align-content: center;
        border-right: 1px solid rgba(0,0,0,0.125);
        border-radius: 0.25rem;

        a {
            margin-left: 15px !important;
        }

        .card-text {
            text-align: center;
        }
    }

    .link {
        font-weight: $font-weight-bold !important;
        color: $primary-40;
    }

    a {
        @extend .link;
    }

    .btn {
        @extend .btn-outline-dark;
        @extend .link;
        border-color: $primary-40;
    }

    .btn-outline-dark:hover {
        background-color: $primary-40 !important;
    }

    .card-header {
        background-color: $white;

        li {
            cursor: pointer;
            :hover {
                text-decoration: underline;
            }

            .active {
                @extend .link;
            }
        }
    }

    .card-body {
        min-height: 450px;

        p {
            margin: 0;
        }
    }

    .description {
        margin-bottom: 10px;
    }

    .profile-photo {
        @extend .mx-auto;
        @extend .d-block;
        @extend .rounded;

        width: 200px;
        margin-top: 20px;
        padding-left: 10px;
    }

    .card-title {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .card {
        @extend .my-4;
    }

    .card-link {
        margin-top: 15px;
        @extend .text-center;
    }

    .card-horizontal {
        max-height: 400px;
    }

    .justify-text {
        text-align: justify;
        text-justify: inter-word;
        hyphens: auto;
        -webkit-hyphens: auto;
        word-spacing: -0.05em;
    }

    .network {
        margin-top: 22px !important;

        a {
            border-radius: 100%;
            padding-right: 15px;
            text-decoration: none;

            svg {
                height: 30px;
                width: 30px;
                fill: $primary-40;
            }
        }
    }

    div .card-reviews {
        height: 300px;
        overflow: auto;
    }

    .stars, .stars0 {
        background: transparent url("stars.png") no-repeat top left;
        width:100px;
        height:20px;
        display:inline-block;
        margin-top: 15px;
        transform: scalex(-1);
    }
    .stars1 {background-position:-20px;}
    .stars2 {background-position:-40px;}
    .stars3 {background-position:-60px;}
    .stars4 {background-position:-80px;}
    .stars5 {background-position:-100px;}

    .card-text {
        margin-top: 10px !important;

        label, span {
            font-weight: $font-weight-bold !important;
            margin-bottom: 0;
        }

        + .btn {
            margin-top: 10px;
        }
    }

    .card-mentees span {
        @extend .link;
    }

    .alert-info {
        border-color: $primary-40;
    }

    .content-overflow {
        width: 100%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }

    .show-content {
        -webkit-line-clamp: revert;
    }

    .card-presentation {

      .btn-primary {
        padding: 0!important;
        background-color: $white !important;
        font-size: $font-size-sm;

        &:focus {
          border-color: $white !important;
        }

        &:hover {
          background-color: $white !important;
          color: $primary-40 !important;
          text-decoration: underline !important;

          cursor: pointer !important;
        }
      }
    }

    .book-recommendations {
        h6 {
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 0.25rem;
        }
        p {
            font-size: 1rem;
            margin-bottom: 0;
        }
        .book {
            margin: 1.25rem auto;
        }
    }

    .inactive-mentor {
        display: none
    }
}

.search {
    @extend .mentors;
    @extend .container;

    .mentor-total-description {
        @extend .my-4, .h5, .font-weight-bold;

        span {
        @extend .text-primary, .font-italic;
        }
    }

    .form-group {
        margin-right: 1.5rem;
    }

    .search-type {
        margin-top: 20px;
    }

    ::placeholder {
        color: rgba(0, 0, 0, 0.3);
    }

    .btn-primary {
        background-color: $primary-40;
        color: $white;
    }

    .custom-input {
        background-image: url('../../assets/images/search.png');
        background-repeat: no-repeat;
        background-position: 10px center;
        padding-left: 40px;
    }
}

.alert {
    border-color: grey;
    border-width: 3px;
}

#search-container {
    @include media-breakpoint-down(sm) {
       padding-left: 0;
       margin-top: 1rem;
    }
}

#filters-container > div:last-child .form-group {
    @include media-breakpoint-up(lg) {
        margin-right: 0;
    }
}

#filters-container > div:nth-child(even) .form-group {
    @include media-breakpoint-down(md) {
        margin-right: 0;
    }
}

#filters-container > div .form-group {
    @include media-breakpoint-down(xs) {
        margin-right: 0;
    }
}
