.list-page-mentors {

    .row-content {
        margin: 0 auto;
    }

    .card-mentor {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        margin-bottom: map-get($spacers, 5);

        p {
            margin-bottom: 0.8rem;
        }

        label, span {
            font-weight: 400;
            margin-bottom: 0;
        }

        .position {
            font-weight: 400;
            margin-bottom: map-get($spacers, 3);
        }

        .row {
            max-width: 100%;
            margin: 0;
            padding: 0;
        }

        .card-header {
            background: transparent;
            border-bottom: 0;
            padding: 0;
        }

        .card-header-tabs {
            margin: 0 0 map-get($spacers, 4) 0;
        }

        .card-media {
            padding: 2rem;
            display: grid;
            justify-content: center;
            align-content: center;
            border-right: 1px solid $border-color;
            border-radius: $border-radius 0 0 $border-radius;

            a {
                margin: 0 auto;
            }

            img {
                border-radius: 50%;
                padding: 0;
                width: 100%;
                max-width: 400px;
            }

            .card-text {
                text-align: center;
            }
        }

        .card-content {
            padding: 1rem 1.5rem 1.5rem 1.5rem;
        }

        .presentation {

            .btn-primary {
                padding: 0;
                background-color: $white;
                font-size: $font-size-sm;
                color: $primary-40;
                text-decoration: underline;
                cursor: pointer;
                transition: transform 0.5s ease;
        
                &:focus {
                    border-color: $white;
                }
        
                &:hover {
                    transform: translateY(-2px);
                    font-weight: 600;
                }
            }
        }
      
        .book-recommendations {
            h6 {
                font-size: 1rem;
                font-weight: bold;
                margin-bottom: 0.25rem;
            }
            p {
                font-size: 1rem;
                margin-bottom: 0;
            }
            .book {
                margin: 1.25rem auto;
            }
        }

        .justify-text {
            text-align: justify;
            text-justify: inter-word;
            hyphens: auto;
            -webkit-hyphens: auto;
            word-spacing: -0.05em;
        }

        .network {
            margin-top: 22px !important;

            a {
                border-radius: 100%;
                padding-right: 15px;
                text-decoration: none;

                svg {
                    height: 30px;
                    width: 30px;
                    fill: $primary-40;
                }
            }
        }

        .card-reviews {
            height: 300px;
            overflow: auto;
        }

        .stars, .stars0 {
            background: transparent url("stars.png") no-repeat top left;
            width:100px;
            height:20px;
            display:inline-block;
            margin-top: 15px;
            transform: scalex(-1);
        }
        .stars1 {background-position:-20px;}
        .stars2 {background-position:-40px;}
        .stars3 {background-position:-60px;}
        .stars4 {background-position:-80px;}
        .stars5 {background-position:-100px;}
    }

    .alert-info {
        border-color: $primary-40;
    }

    .content-overflow {
        width: 100%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }

    
    .btn-show-more {
        border: none;
        padding-left: 1.6rem;

        &:hover {
            border: none;
            background: transparent;
            color: $link-color;
            text-decoration: underline;
        }

        &::before {
            left: 0;
        }
    }

    .show-content {
        -webkit-line-clamp: revert;
    }

    .inactive-mentor {
        display: none
    }
}

@include media-breakpoint-up(md) {
    .list-page-mentors {
        .card-mentor {
            flex-direction: row;

            .card-content {
                padding: 2rem 2.5rem 2.5rem 2.5rem;
            }
        }
    }
}
