.search {
    margin-top: map-get($spacers, 5);
    margin-left: auto;
    margin-right: auto;
    background: $bg-2;
    border-radius: $border-radius;

    form {
        padding: map-get($spacers, 4) 0;
        
    }

    .btn-filter,
    .btn-search {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .btn-search {
        border-radius: 0 2rem 2rem 0;
        height: 100%;
    }

    .btn-filter {
        color: $link-color-dark;
        background: $white;
        margin-top: 1rem;
        height: auto;

        &:hover {
            color: $white;
            background: $primary;
        }
    }

    .search-icon,
    .filter-icon {
        font-size: $icon-size-m;
    }

    .filter-icon {
        padding-right: 0.2rem;
    }
}

.search-input {
    display: flex;
    flex-direction: row;
    padding: 0;

    > div {
        &:first-child {
            padding: 0;
        }
    
        &:last-child {
            padding-left: 0;
        }
    }

    input {
        border-radius: 2rem 0 0 2rem;
        height: 47px;
        padding-left: map-get($spacers, 4);
        padding-right: map-get($spacers, 3);

        &::placeholder {
            color: $text-secondary;
        }
    }

    input[type="text"] {
        color: $text-primary;
    }
}

.search-page {
    
    .search-results-header {
        margin-top: map-get($spacers, 5);
        margin-bottom: map-get($spacers, 3);
        display: flex;
        flex-direction: row;
    
        p,
        #clear-btn {
            font-weight: 500;
            font-size: $font-title-m;
    
        }
    
        p {
            span {
                font-weight: 300;
            }
        }
    
        #clear-btn {
            color: $link-color;
            margin-left: auto;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .alert {
        border-color: grey;
        border-width: 3px;
    }
}

#filters-container {
    display: flex;
    flex-direction: column;
    padding: map-get($spacers, 4) 0 0 0;
    border-top: 1px solid $neutral-80;
    margin-top: map-get($spacers, 4);

    .form-group {
        position: relative;

        .form-control {
            /* Hide bootstrap dropdown icon */
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            padding-left: 1.1rem;
        }

        .icon-dropdown-arrow {
            position: absolute;
            right: 0.5rem;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            color: $black;
            font-size: $icon-size-s;
        }
    }
}

@include media-breakpoint-down(md) {
    .search {
        #filters-container {
            > * {
                padding-left: 0;
                padding-right: 0;
            }
        }

        .btn-filter {
            max-height: 2.5rem;
        }
    }
}


@include media-breakpoint-up(md) {
    .search {
        .btn-filter {
            margin-top: 0;
        }
    }
}

@include media-breakpoint-up(lg) {
    .search {
        form {
            padding: map-get($spacers, 5);
        }

        #filters-container {
            flex-direction: row;

            > * {
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}