
.team {

    .card-deck {
        .card {
            margin: 0 0 map-get($spacers, 4) 0;
        }
    }

    .card-media {
        padding: map-get($spacers, 4) map-get($spacers, 4) map-get($spacers, 2) map-get($spacers, 4);
        img {
            border-radius: 100%;
        }
    }
    
    .network {
        a {
            display: inline-block;
            margin-right: 0.5rem;
            svg {
                height: 30px;
                width: 30px;
                fill: $primary;
            }
        }
    }

    .featured-content {

        .row-content {
            display: flex;
            justify-content: center;
        }

        .card-l {
            border: none;
            text-align: center;

            p {
                text-align: center;
            }
        }
    }
}