
.page-team {

    .content-constrained {
        h2 {
            text-align: center;
        }
    }
    
    .network {
        a {
            display: inline-block;
            margin-right: 0.5rem;
            svg {
                height: 30px;
                width: 30px;
                fill: $primary;
            }
        }
    }

    .featured-content {
        .row-content {
            display: flex;
            justify-content: center;
        }

        .card-l {
            border: none;
            text-align: center;

            p {
                text-align: center;
            }
        }
    }
}
