//
// Color palette
//

$blue-10: #001E2E;
$blue-20: #00344C;
$blue-30: #1A4B66;
$blue-40: #36637F;
$blue-50: #507C99;
$blue-60: #6A96B4;
$blue-70: #84B1D0;
$blue-80: #9FCCEC;
$blue-90: #C7E7FF;
$blue-95: #E5F2FF;
$blue-98: #EBEEF3;
$coral-10: #390C00;
$coral-20: #5D1800;
$coral-30: #822702;
$coral-40: #A23E19;
$coral-50: #C3562F;
$coral-60: #E46E45;
$coral-70: #FF8B64;
$coral-80: #FFB59D;
$coral-90: #FFDBD0;
$coral-95: #FFEDE8;
$yellow-10: #271900;
$yellow-20: #402D04;
$yellow-30: #594319;
$yellow-40: #735B2E;
$yellow-50: #8D7344;
$yellow-60: #A98D5B;
$yellow-70: #C5A773;
$yellow-80: #E2C28C;
$yellow-90: #FFDEA6;
$yellow-95: #FFEFD7;

$neutral-10: #1D1B1E;
$neutral-20: #313030;
$neutral-30: #484646;
$neutral-40: #605E5D;
$neutral-50: #797776;
$neutral-60: #92908F;
$neutral-70: #ADAAAA;
$neutral-80: #C9C6C5;
$neutral-90: #E5E2E1;
$neutral-95: #F4F0EF;

$black: $neutral-10;

$primary-10: $blue-10;
$primary-20: $blue-20;
$primary-30: $blue-30;
$primary-40: $blue-40;
$primary-50: $blue-50;
$primary-60: $blue-60;
$primary-70: $blue-70;
$primary-80: $blue-80;
$primary-90: $blue-90;
$primary-95: $blue-95;

$secondary-10: $coral-10;
$secondary-20: $coral-20;
$secondary-30: $coral-30;
$secondary-40: $coral-40;
$secondary-50: $coral-50;
$secondary-60: $coral-60;
$secondary-70: $coral-70;
$secondary-80: $coral-80;
$secondary-90: $coral-90;
$secondary-95: $coral-95;

$tertiary-10: $yellow-10;
$tertiary-20: $yellow-20;
$tertiary-30: $yellow-30;
$tertiary-40: $yellow-40;
$tertiary-50: $yellow-50;
$tertiary-60: $yellow-60;
$tertiary-70: $yellow-70;
$tertiary-80: $yellow-80;
$tertiary-90: $yellow-90;
$tertiary-95: $yellow-95;

$primary: $primary-40;

//
// Backgrounds
//

$bg-1: $blue-98;
$bg-2: $neutral-90;

$bg-hover: $neutral-90;

//
// Components
//

$border-color: $neutral-90;
$border-radius: 1rem;

$box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);

//
// Typography
//

$link-color: $primary-40;

$text-primary: $black;
$text-secondary: $neutral-40;

$font-display-l: 3.6rem;
$font-display-m: 2.8rem;
$font-display-s: 2.25rem;

$font-headline-l: 2rem;
$font-headline-m: 1.74rem;
$font-headline-s: 1.5rem;

$font-title-l: 1.375rem;
$font-title-m: 1rem;
$font-title-s: 0.875rem;

$font-body-l: 1.25rem;
$font-body-m: 1rem;
$font-body-s: 0.875rem;

$font-label-l: 1rem;
$font-label-m: 0.875rem;
$font-label-s: 0.6875rem;
