@import "buttons";
@import "menu";
@import "footer";
@import "home";
@import "icons";
@import "team";
@import "code-of-conduct";
@import "media-breakpoint";


h1, h2, h3 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

p, ul, ol {
    font-size: $font-size-md;
}

.network svg:hover  {
    fill: $primary-50 !important;
}

.opacity-50 {
    opacity: 0.5;
}

.cursor-pointer {
    cursor: pointer;
}

.text-primary {
    color: $gray-900;
}

.page-header {
    background: $primary-90;
    color: $primary-10;
    padding: 4rem 1rem;
}

.page-header h1 {
    margin: 0;
}

.container .section {
    margin-top: 4rem !important;
}

.container .section:last-child {
    margin-bottom: 5rem;
}

.content-constrained {
    max-width: 768px;
    margin: 0 auto;
}

.content-constrained h2 {
    text-align: left;
    margin-bottom: 1rem;
}

.content-constrained h3 {
    text-align: left;
    margin: 1.7rem 0 1rem 0;
    font-size: 1.6rem;
}
