@import "accordion";
@import "blog";
@import "buttons";
@import "card";
@import "code-of-conduct";
@import "events";
@import "footer";
@import "hero";
@import "home";
@import "icons";
@import "mentors";
@import "menu";
@import "programmes";
@import "search";
@import "tabs";
@import "team";
@import "media-breakpoint";
@import "mixins";
@import "breadcrumbs";

.network svg:hover  {
    fill: $primary-50 !important;
}

.opacity-50 {
    opacity: 0.5;
}

.cursor-pointer {
    cursor: pointer;
}

.content-overflow {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.content-justify {
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    -webkit-hyphens: auto;
    word-spacing: -0.05em;
}