{% assign current_path = page.url | remove: '.html' | remove_first: '/' %}

{% if current_path and current_path != '' %}
<nav aria-label="Breadcrumb" class="breadcrumb">
    <div class="container">
        <!-- <ol>
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Mentorship</li>
        </ol> -->
        <!-- <div clas="breadcrumb-back__wrapper">
            <div class="breadcrumb__back">
                <div class="material-symbols-outlined" aria-hidden="true">arrow_back</div>
                <a href="/blog">Back to blog</a>
            </div>
        </div> -->

        <ol>
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            {% for item in site.data.navbar %}
                {% if item.subfolderitems %}
                    {% for subfolderitem in item.subfolderitems %}
                        {% if subfolderitem.breadcrumbs and subfolderitem.url == current_path %}
                            {% for subfolderitembreadcrumb in subfolderitem.breadcrumbs %}
                                <li class="breadcrumb-item">
                                    {% if subfolderitembreadcrumb.link %}
                                        <a href="/{{ subfolderitembreadcrumb.link }}">{{ subfolderitembreadcrumb.name }}</a>
                                    {% else %}
                                        {{ subfolderitembreadcrumb.name }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                            <li class="breadcrumb-item active" aria-current="page">
                                {{ subfolderitem.page }}
                            </li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% if item.breadcrumbs and item.link == current_path %}
                        {% for itembreadcrumb in item.breadcrumbs %}
                            <li class="breadcrumb-item">
                                <a href="/{{ itembreadcrumb.link }}">{{ itembreadcrumb.name }}</a>
                            </li>
                        {% endfor %}
                        <li class="breadcrumb-item active" aria-current="page">
                            {{ item.name }}
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ol>
    </div>
</nav>
{% endif %}