{% assign current_path = page.url | remove: '.html' | remove_first: '/' %}

<nav aria-label="Breadcrumb" class="breadcrumb">
    <div class="container">
        <!-- <ol>
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Mentorship</li>
        </ol> -->
        <!-- <div clas="breadcrumb-back__wrapper">
            <div class="breadcrumb__back">
                <div class="material-symbols-outlined" aria-hidden="true">arrow_back</div>
                <a href="/blog">Back to blog</a>
            </div>
        </div> -->

        <ol>
            <!-- <li>Home</li> -->
            {% for item in site.data.navbar %}
                
                {% for subitem in item.subfolderitems %}
                    <li class="breadcrumb-item">{{subitem.page}}</li>
                    {% if item.breadcrumbs and item.link == current_path %}
                        {% for itembreadcrumbs in item.breadcrumbs %}
                            <li class="breadcrumb-item">
                                <a href="/{{ itembreadcrumbs.link }}">{{ itembreadcrumbs.name }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ol>
    </div>
</nav>
