<div class="card-column col-12 col-lg-6 event-card" data-expiration="{{event.expiration}}">
    <article class="card-announcement event card card-m {{event.category}}">
        <div class="card-header">
            <div class="col-12 col-sm-9 col-lg-8">
                <div class="card-category">{{ event.category_name }}</div>
                <div class="card-date"><div class="material-symbols-outlined" aria-hidden="true">
                    <span class="material-symbols-outlined">calendar_month</span></div>{{ event.date }}, {{ event.time }}</div>
                <h3 class="card-title">{{ event.title }}</h3>
                {% if event.host %}
                <p class="card-host">Host: {{ event.host }}</p>
                {% endif %}
                {% if event.speaker %}
                <p class="card-speaker">Speaker: {{ event.speaker }}</p>
                {% endif %}
            </div>
            <div class="card-media col-12 col-sm-3 col-lg-4">
                <img src="{{ event.image.path }}" alt="{{ event.image.alt }}">
            </div>
        </div>
        <div class="card-body col-12">
            <p>{{ event.description }}</p> 
        </div>
        <div class="card-footer col-12">
            <a href="{{ event.link.path }}" target="{{ event.link.target }}" class="btn btn-outline-primary event-footer-btn">
                {{event.link.title }}
                <span class="material-symbols-outlined ml-1">ungroup</span>
            </a>

            {% if event.resources %}
                <div class="event-resources">
                    <div>Event resources:</div>
                    {% if event.resources.presentation %}
                        <a href="{{ event.resources.presentation }}" target="_blank" class="link">
                            Slides
                            <span class="material-symbols-outlined">ungroup</span>
                        </a>
                    {% endif %}
                    {% if event.resources.youtube %}
                        <a href="{{ event.resources.youtube }}" target="_blank" class="link">
                            Recording
                            <span class="material-symbols-outlined">ungroup</span>
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </article>
</div>
