<div class="container announcements" id="featured-events-container">
    <div class="row featured-content">
        <div class="row-header">
            <h2>Latest Events</h2>
        </div>
        <div class="row-content col-12" id="featured-events">
            <div class="card-deck">
                {% assign sorted_events = site.data.events | sort: 'expiration' %}

                {% for event in sorted_events %}
                    {% include event.html %}
                {% endfor %}
            </div>
        </div>
        <div class="mt-5">
            <a href="/events" class="btn btn-outline-primary">View all events</a>
        </div>
    </div>
 </div>