{% assign today = "now" | date: "%Y%m%d" %}
{% assign announcements = site.data.announcement %}

{% assign count = 0 %}
{% for announcement in announcements %}
    {% if announcement.expiration >= today %}
        {% assign count = count | plus: 1 %}
    {% endif %}
{% endfor %} 

{% if count > 0 %}
    <div class="container announcements">
        <div class="row featured-content">
            <div class="row-header">
                <h2>Announcements</h2>
            </div>
            <div class="row-content col-12">
                <div class="card-deck">
                    {% for announcement in announcements %}
                        {% if announcement.expiration >= today %}
                            <div class="card-column col-12 col-lg-6">
                                <article class="card-announcement card card-m">
                                    <div class="card-header">
                                        <div class="col-12 col-sm-9 col-lg-9">
                                            <div class="card-date">{{ announcement.date }}</div>
                                            <h3 class="card-title">{{ announcement.title }}</h3>
                                        </div>
                                        <div class="card-media col-12 col-sm-3 col-lg-3">
                                            <img src="{{ announcement.image.path }}" alt="{{ announcement.image.alt }}">
                                        </div>
                                    </div>
                                    <div class="card-body col-12">
                                        <p>{{ announcement.description }}</p>
                                    </div>
                                    {% if announcement.link %}
                                        <div class="card-footer col-12">
                                            <a href="{{ announcement.link.path }}" target="{{ announcement.link.target }}" class="btn btn-primary">{{announcement.link.title }}</a>
                                        </div>
                                    {% endif %}
                                </article>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
