<div class="container announcements">
    <div class="row featured-content">
        <div class="row-header">
            <h2>Announcements</h2>
        </div>
        <div class="row-content col-12">
            <div class="card-deck">
                {% for announcement in site.data.announcement %}
                <div class="card-column col-12 col-lg-6">
                    <article class="card-announcement card card-m">
                        <div class="card-header">
                            <div class="col-12 col-sm-9 col-lg-8">
                                <div class="card-date">{{ announcement.date }}</div>
                                <h3 class="card-title">{{ announcement.title }}</h3>
                            </div>
                            <div class="card-media col-12 col-sm-3 col-lg-4">
                                <img src="{{ announcement.image.path }}" alt="{{ announcement.image.alt }}">
                            </div>
                        </div>
                        <div class="card-body col-12">
                            <p>{{ announcement.description }}</p>
                            {% if announcement.link %}
                                <a href="{{ announcement.link.path }}" target="{{ announcement.link.target }}" class="btn btn-outline-primary">{{announcement.link.title }}</a>
                            {% endif %}
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
