<div class="container announcements">
    <div class="row featured-content">
        <div class="row-header">
            <h2>Events</h2>
        </div>
        <div class="row-content col-12">
            <div class="card-deck">
                {% assign count = 0 %}
                {% for events in site.data.events %}
                    {% assign count = count | plus: 1 %}
                    {% if count <= 2 %}
                        <div class="card-column col-12 col-lg-6">
                            <article class="card-announcement event card card-m {{events.category}}">
                                <div class="card-header">
                                    <div class="col-12 col-sm-9 col-lg-8">
                                        <div class="card-category">{{ events.category_name }}</div>
                                        <div class="card-date"><div class="material-symbols-outlined" aria-hidden="true">
                                            <span class="material-symbols-outlined">calendar_month</span></div>{{ events.date }}, {{ events.time }}</div>
                                        <h3 class="card-title">{{ events.title }}</h3>
                                        {% if events.host %}
                                        <p class="card-host">Host: {{ events.host }}</p>
                                        {% endif %}
                                        {% if events.speaker %}
                                        <p class="card-speaker">Speaker: {{ events.speaker }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="card-media col-12 col-sm-3 col-lg-4">
                                        <img src="{{ events.image.path }}" alt="{{ events.image.alt }}">
                                    </div>
                                </div>
                                <div class="card-body col-12">
                                    <p>{{ events.description }}</p> 
                                </div>
                                <div class="card-footer col-12">
                                    <a href="{{ events.link.path }}" target="{{ events.link.target }}" class="btn btn-outline-primary">{{events.link.title }}</a>
                                </div>
                            </article>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
