<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="title"       content="{{ page.title }} - {{ site.title }}">
<meta name="description" content="Our community is open to anyone who is looking to improve their skills or advance their careers. Whether you are an experienced professional looking to give back to the community, or a student or new professional seeking guidance and support, our program has something for everyone.">

<title>{{ page.title }} - {{ site.title }}</title>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap" />
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="icon" href="/assets/images/logo.svg">
