{% assign base_url = site.base_url %} 
{% assign mentor_name = mentor.name %} 
{% assign full_url = base_url | append: '/mentors?keywords=' | append: mentor_name %}

<span class="link-copied-alert alert alert-info d-none" role="alert">
    Link Copied.
 </span> 
<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-share-mentor">
    <li class="d-flex align-items-center cursor-pointer copy-link" data-url="{{ full_url }}">
        <p class="dropdown-item d-flex align-items-center">
            <span class="share-icon"> {% include icons/copy.svg %} </span>
            <span class="ml-3">Copy link</span>
        </p>
    </li>
    <li class="d-flex align-items-center">
        <a class="dropdown-item d-flex align-items-center"
            href="mailto:?subject=Check out this mentor&body=Check out this mentor: {{ mentor.name }} at {{ full_url }}"
            target="_blank">
            <span class="share-icon"> {% include icons/envelope.svg %} </span>
            <span class="ml-3">Email a friend</span>
        </a>
    </li>
</ul>

