@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

@import 'bootstrap/bootstrap';
@import 'custom/custom';

$backgroundColor: #fff;
$bodyColor: #000000;
$bodyFont: 'Roboto', sans-serif;

$container-max-width: 1376px;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  font-weight: 400;
}

.container,
.row .content {
  max-width: $container-max-width;
}

.row {
  justify-content: center;

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 5rem 0;
  }
}
