@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

@import 'bootstrap/bootstrap';
@import 'custom/custom';

$bg-1: $primary-90;
$bg-2: #f7f7f7;

$bodyColor: #000000;
$bodyFont: 'Roboto', sans-serif;

$container-max-width: 1376px;

body {
  background: #fff;
  color: $bodyColor;
  font-family: $bodyFont;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container,
.row .content {
  max-width: $container-max-width;
}

.row {
  justify-content: center;

  &.bg-1 {
    background-color: $bg-1;
  }

  &.bg-2 {
    background-color: $bg-2;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 5rem 0;
  }
}

.menu .dropdown > a.active-nav::after {
  width: 100%;
  background: $primary;
}

// Basic page 'content constrained' container width size adjustments to ensure 50-75 char per line for optimal readability  

$custom-container-columns-l: 8;
$custom-container-columns-m: 7;
$custom-container-columns-s: 6;

$container-width-l: percentage($custom-container-columns-l / $grid-columns);
$container-width-m: percentage($custom-container-columns-m / $grid-columns);
$container-width-s: percentage($custom-container-columns-s / $grid-columns);

$custom-auto-margin: auto;

.content-constrained {
  @include media-breakpoint-up(md) {
    width: $container-width-l;
    margin-right: $custom-auto-margin;
    margin-left: $custom-auto-margin;
  }

  @include media-breakpoint-up(lg) {
    width: $container-width-m;
    margin-right: $custom-auto-margin;
    margin-left: $custom-auto-margin;
  }

  @include media-breakpoint-up(xl) {
    width: $container-width-s;
    margin-right: $custom-auto-margin;
    margin-left: $custom-auto-margin;
  }
}
