@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

@import 'bootstrap/bootstrap';
@import 'custom/custom';

$backgroundColor: #fff;
$bodyColor: #000000;
$bodyFont: 'Roboto', sans-serif;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
 } 