<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% seo %}
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <meta name="title"            content="{{ page.title }} - {{ site.title }}" >
    <meta name="description"      content="Our community is open to anyone who is looking to improve their skills or advance their careers. Whether you are an experienced professional looking to give back to the community, or a student or new professional seeking guidance and support, our program has something for everyone." >

    <meta property='og:title'       content='{{ page.title }} - {{ site.title }}'/>
    <meta property='og:image'       content='https://github.com/WomenCodingCommunity/WomenCodingCommunity.github.io/assets/images/share/banner-lg.png'/>
    <meta property='og:description' content='Women Coding Community (WCC) is nonprofit dedicated to inspiring women in technology careers.'/>
    <meta property='og:url'         content='https://github.com/WomenCodingCommunity/WomenCodingCommunity.github.io'/>
    <meta property="og:type"        content="article" />
    <meta property="og:site_name"   content="Women Coding Community">

    <meta name="twitter:creator"     content="@WomenCodingCommunity" >
    <meta name="twitter:site"        content="@WomenCodingCommunity" >
    <meta name="twitter:card"        content="summary_large_image" >
    <meta name=”twitter:url”         content="https://github.com/WomenCodingCommunity/WomenCodingCommunity.github.io">
    <meta name=”twitter:title”       content="{{ page.title }} - {{ site.title }}">
    <meta name=”twitter:description” content="Our community is open to anyone who is looking to improve their skills or advance their careers. Whether you are an experienced professional looking to give back to the community, or a student or new professional seeking guidance and support.">
    <meta name=”twitter:image”       content="https://github.com/WomenCodingCommunity/WomenCodingCommunity.github.io/assets/images/share/banner-small.png">

    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap" />
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="icon" href="assets/images/logo.svg">
  </head>
  <body>
    {% include navbar.html %}
    {{ content}}
    {% include footer.html %}
  </body>
</html>
