<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-UK" }}">
        {% seo %}
        {% include head.html %}
  <body>
    <div class="container">
    {% include navbar.html %}
      <article class="post">
          <div>
              <h1 class="display-5">{{ page.title }}</h1>
              <hr>
              <div class="author d-flex align-items-center">
                  <div class="author_img">
                    <img src="/assets/images/blog/author.png" alt="Author picture">
                  </div>
                  <div class="d-flex flex-column">
                    <div class="author_name">{{page.author}}</div>
                    <div class="article-date">{{ page.date | date: "%d.%m.%Y" }}
                  </div>
                  </div>
              </div>
              <hr>
          </div>

          <div class="post_body content-constrained">
              {{ content }}
          </div>
      </article>
    </div>
  </body>

  {% include footer.html %}
</html>